<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="sql_server_connection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=box_database;Integrated Security=true;persist security info=True;user id=sa;password=password" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>